fastapi~=0.115.6
pydantic==2.10.3
pydantic_settings==2.7.0
loguru~=0.7.3
memoization>=0.4.0
ruamel.yaml>=0.18.0
openai>=1.57.0
pymilvus>=1.1.0
uvicorn~=0.34.0
tqdm~=4.67.1
pymongo~=4.10.1
requests~=2.32.3